extends layout

block content

    section.hero
      .hero-content
        h1 HEALTH SYSTEMS EVIDENCE
        |     
        a.btn.btn-lg.btn-primary(href='#')
          i.fa.fa-info
          |  Summary
        |     
        a.btn.btn-lg.btn-warning(href='/logout')
          i.fa.fa-sign-out
          |  Logout
    |   
    main
      .container
        .jumbotron.text-center
          h2 HSE Dashboard
          |   
          h5 You are logged in.
          |   
          p
            i Quality drives our research
          |   
          p
            | The world&apos;s most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.
          |   
          |     
          .container
            h2 Your Articles
            |       
            .list-group
              a.list-group-item.list-group-item-action(href='/pg_quotes_lombardi') Vince Lombardi Quotes
              |         
              a.list-group-item.list-group-item-action(href='/pg_quotes_yogiberra') Yogi Berra Quotes
              |         
              a.list-group-item.list-group-item-action(href='/pg_palindromes') Palindromes 101

