extends layout

block content

    main
      .container
        .jumbotron.text-center
          h1 Contact Us
          |   
          .row
            .col-sm-6.col-sm-offset-3
              p
                i.fa.fa-commenting(style='color:#00008b;')
                |   Let&apos;s talk.  Our library of high quality health research articles will empower your research.
              |       
              form(action='/contact', method='POST')
                .form-group
                  label Name
                  |           
                  input.form-control(type='text', name='name')
                |         
                .form-group
                  label Email
                  |           
                  input.form-control(type='text', name='email')
                |         
                .form-group
                  label Your Message
                  |           
                  input.form-control(type='text', name='message')
                |         
                |         
                .form-group.text-right
                  button.btn.btn-primary.btn-lg(type='submit')
                    i.fa.fa-paper-plane-o
                    |  Send
