doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Mukta+Malar', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    //- link(rel='icon', type='image/ico', href='/images/favicon.ico')
    link(rel='stylesheet', href='/css/style.css')
  body

    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='/') HSE Portal
        |     
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            |         
            li
              a(href='/search') Search
            |         
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | Articles 
                span.caret
              |           
              ul.dropdown-menu
                li
                  a(href='#') Article 1
                |             
                li
                  a(href='#') Article 2
                |             
                li
                  a(href='#') Article 3
            |         
            li
              a(href='/about') About
            |         
            li
              a(href='/contact') Contact
          |       
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/logout') 
                  span.glyphicon.glyphicon-log-out
                  |  Logout
            else
              li
                a(href='/login')
                  span.glyphicon.glyphicon-log-in
                  |  Login
              li
                a(href='/signup')
                  span.glyphicon.glyphicon-user
                  |  Register





    .container
      if messages.error
        .alert.alert-danger
          div= messages.error
      if messages.info
        .alert.alert-info
          div= messages.info
      if messages.success
        .alert.alert-success
      div= messages.success
    block content




    footer
      h5
        a(href='/') Home
        |  * 
        a(href='/about') About
        |  * 
        a(href='/contact') Contact
        |  * 
        a(href='/login') Sign In
        |  * 
        a(href='/signup') Sign Up
      |   
      p
        | Copyright &copy; 2018 - 
        strong Health Systems Evidence



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
    script(src='js/scripts.js')
