extends layout

block content

    main
      .container
        .jumbotron.text-center
          h1 Palindromes!
          |   
          .row
            .col-sm-6.col-sm-offset-3
              p
                | A palindrome is a word, number, or other sequence of characters which reads the same backward as forward, such as madam or racecar. Sentence-length palindromes may be written when allowances are made for adjustments to capital letters, punctuation, and word dividers, such as &quot;
                span.quotesource A man, a plan, a canal, Panama!
                | &quot;, &quot;
                span.quotesource Was it a car or a cat I saw?
                | &quot;  or  &quot;
                span.quotesource No &apos;x&apos; in Nixon
                | &quot;.
              |  
              br
              br
              |       
              ol
                li Able was I ere I saw Elba
                |         
                li Madam, I&apos;m Adam
                |         
                li Was it a car or a cat I saw?
                |         
                li Never odd or even
                |         
                li A man, a plan, a canal ~ Panama
