extends layout

block content

    main
      .container
        .jumbotron.text-center
          h1 Vince Lombardi Quotes
          |   
          .row
            .col-sm-6.col-sm-offset-3
              p The best quotes from Vince Lombardi
              |   
              |       
              ol
                li Winning is habit. Unfortunately, so is losing.
                |         
                li
                  | The greatest accomplishment is not in never falling, but in rising again after you fall
                |         
                li The measure of who we are is what we do with what we have
                |         
                li
                  | Football is like life - it requires perseverance, self-denial, hard work, sacrifice, dedication and respect for authority.
                |         
                li Practice does not make perfect. Only perfect practice makes perfect
                |         
                li
                  | The achievements of an organization are the results of the combined effort of each individual.
                |         
                li
                  | Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work.
                |         
                li Winners never quit and quitters never win.
                |         
                li
                  | Perfection is not attainable, but if we chase perfection we can catch excellence.
                |         
                li
                  | The price of success is hard work, dedication to the job at hand, and the determination that whether we win or lose, we have applied the best of ourselves to the task at hand.
