extends layout

block content

    main
      .container
        .jumbotron.text-center
          h1 Yogi Berra Quotes
          |   
          .row
            .col-sm-6.col-sm-offset-3
              p The best quotes from Yogi Berra
              |   
              |       
              ol
                li When you arrive at a fork in the road, take it.
                |         
                li
                  | You better cut the pizza in four pieces because I&apos;m not hungry enough to eat six.
                |         
                li Love is the most important thing in the world, but baseball is pretty good, too.
                |         
                li If you don&apos;t know where you are going, you might wind up someplace else.
                |         
                li It ain&apos;t the heat, it&apos;s the humility.
                |         
                li I wish I had an answer to that because I&apos;m tired of answering that question.
                |         
                li
                  | Little League baseball is a very good thing because it keeps the parents off the streets.
                |         
                li You can observe a lot by watching.
                |         
                li It was impossible to get a conversation going, everybody was talking too much.
                |         
                li Congratulations. I knew the record would stand until it was broken.
