extends layout

block content

    main
      .container
        .jumbotron.text-center
          h1 Services
          |   
          .row
            .col-sm-6.col-sm-offset-3
              h2 Our Services
              |       
              p
                | The world&apos;s most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.
              br 
              br 
