extends layout

block content
  form(method='POST')
    legend Sign In
    .form-group
      label(for='username') Username
      input.form-control(type='text', name='username', autofocus)
    .form-group
      label(for='password') Password
      input.form-control(type='password', name='password')
    button.btn.btn-primary(type='submit') Sign In
    a.btn.btn-link(href='/forgot') Forgot Password?
    br
    br
    br