extends layout

block content

    section.hero
      .hero-content
        h2 Health Systems Evidence

    main
      .container
        .jumbotron.text-center
          h1 About HSE
          p
            i You are logged out
          p
            | The world&apos;s most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.
          br
          br 