body {
  padding: 2px;
  font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1;
}

a {
  color: #00B7FF;
}


header .navbar {
  border-radius: 0;
  margin: 0;
}


main {
  padding: 5px 5px 10px 20px;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #bbb;  
  background: #222;
  text-align: center;
}



.hero {
  background-image: url(../images/sky_background_05.jpg);    
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  min-height: 300px;
  position: relative;
}

.hero-content {
  position: absolute;
  /* top: 50%;  */
  text-align: center;
  width: 100%;
}

.hero-content h2 {
  color: blue;
  font-size: 24px;
}

.hero-content p {
  color: blue;
  font-size: 16px;
  margin-bottom: 30px;
}

.hero-content .btn {
  border-radius: 2px;
  padding: 5px 10px;
} 



/* styling for search bar */
#imaginary_container{
    margin-top:20%; 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.quotesource {
	font-style: italic;
	color: #008b00;
	font-size: 90%;
	font-family: 'Lato', sans-serif;
}

.message {
	font-style: italic;
	font-size: 60%;
	font-family: 'Lato', sans-serif;
}

/* For form validation using Validate.js */
.help-block.error {
  margin-bottom: 5px;
}

mybold {
    font-weight: bold;
}

/* Headings */
.myheading {
	color:#00008b;
	font-weight:bold;
	text-transform: uppercase;
}

.myheading2 {
	color:#008b00;
	font-weight:bold;
	text-transform: uppercase;
}

.myheading3 {
	color:#008b00;
	font-weight:bold;
}

	
/*-------------------------------------------*/
/* Bootstrap 3  coloured NavBar */

/* Darkblue navbar style  */
navbar-default { /* #003399 - #0033cc */
    font-size: 14px;
    background-color: rgba(51, 51, 153, 1);
    background: -webkit-linear-gradient(top, rgba(51, 51, 204, 1) 0%, rgba(51, 51, 153, 1) 100%);
    background: linear-gradient(to bottom, rgba(51, 51, 204, 1) 0%, rgba(51, 51, 153, 1) 100%);
    border: 0px;
    border-radius: 0;
}
navbar-default .navbar-nav>li>a:hover,
navbar-default .navbar-nav>li>a:focus,
navbar-default .navbar-nav>li>ul>li>a:hover, 
navbar-default .navbar-nav>li>ul>li>a:focus, 
navbar-default .navbar-nav>.active>a,
navbar-default .navbar-nav>.active>a:hover,
navbar-default .navbar-nav>.active>a:focus {  
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

navbar-default .navbar-toggle {
    border-color: #333399;
}
navbar-default .navbar-toggle:hover,
navbar-default .navbar-toggle:focus {
    background-color: #3333cc;
}
navbar-default .navbar-nav>li>a,
navbar-default .navbar-nav>li>ul>li>a, 
navbar-default .navbar-brand {
    color: #999999; 
}
navbar-default .navbar-toggle .icon-bar,
navbar-default .navbar-toggle:hover .icon-bar,
navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff; 
}
	